/*
 Theme Name:   ScarabDB
 Description:  ScarabDB Theme
 Author:       Damian Hoffman (Damian.da.hoffman@gmail.com)
 Template:     ample
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/


@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);
body{
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
}



#iconographics.tagsdiv
{
	display:none
}

.header-post-title-container .post-title-wrapper
{
	float:none;
	text-align: center;

}

#scarab_bibliography
{
	padding-bottom:50px;
}

#scarab_bibliography p
{
direction:ltr;
}


.hidden { display: none; }
#citation_button
{
	padding:10px;
	background-color: var(--main-color);
	color: #ffffff;
}
.citation_block
{
	max-width:500px;
	color:black;
}

button.copy_citation
{
	float:right;
	margin-top: 15px;
    margin-bottom: 0px;
}

td#single-image
{
	border: 5px solid;
	width: 20%;
	/*float:right;*/
	float:left;
	margin:15px;
	text-align: center;
	background-color:white;
}

td#single-image img
{
	height:100px;
}

label#single-image
{
	/*float:left;*/
}

label#single-image.title
{
	font-weight:bold;
}

#table_id #Gallery img
{
	width:95%;
}

#table_id td
{
	width:15%
}

#table_id td#Gallery
{
	width:15%
}

table#table_id  {
  table-layout: fixed !important;
  width: 100% ;
}
#table_id td {
  width: 25% ;
}

img.tooltip span {
    direction:ltr;
}

#scarab_image img
{
	max-width:400px;
	border: 10px solid var(--main-color);
	border-radius: 10px;
	max-height:400px;
}

.smw_left
{
	text-align: right;
}

.textwidget hr
{
	border-radius: 15px;
	border-color: var(--main-color);
	border-style: solid none none;
	border-width: 10px 0 0;
}

.left-sidebar #tertiary
{
	width:25%;
	background-color:var(--sidebar-color);
}
.gsc-control-cse
{
	background-color:var(--sidebar-color);
}
.left-sidebar #primary
{
	width:70%;
}
.header
{
	background-color:var(--header-color);
}
.header-post-title-class 
{
    padding-bottom: 0;
    color: #000000; 
    text-align: center;
    padding-top: 20px;
}
.header-post-title-container
{
	display:none;
}

#scarab_title
{
	text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: black;
    padding-bottom: 50px;
	background-color: transparent;
    border: none;
}

.inner-wrap
{
	max-width:95%;
}



.scarab h2
{
	    padding-bottom: 0px;
}

.scarab div[id^=scarab_]
{
	/*background-color: antiquewhite;
    border: 1px solid rosybrown;*/
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
    width: 85%;
    padding-right: 25px;	
}

.scarab div#scarab_citation 
{
    text-align: center;
    background-color: transparent;
    border: none;
}

table#scarab_measurments_table
{
	width:max-content;
}

.main-navigation ul.menu li a
{
	font-size:24px;
}

img#gallery_img {
    max-height: 150px;
}

@media only screen and (max-width: 768px) 
{
	 #scarab_image img
	{
		max-width:80%;
	}
	/*#header-right-section
	{
		float:right;
	}*/
	.scarab div[id^=scarab_]
	{
		margin-right:0px;
		margin-left:0px;
	}
	.sidebar#tertiary 
	{
		 display:none;
	}
	.left-sidebar #primary
	{
		width:95% !important;
	}
	td#single-image
	{
		width:80%;
		margin-right:0px;
		margin-left:0px;
	}
	table#table_id
	{
		table-layout: inherit !important;
	}
	.dataTables_wrapper
	{
		overflow:scroll;
	}
}

@media only screen and (max-width: 350px) 
{

		 
}

@media print 
{
	 .left-sidebar #tertiary
	{
		display:none; 
	}
	div
	{
        page-break-inside: avoid;
    }
	#scarab_image img
	{
		max-height:200px;
	}
	.scarab div#scarab_citation
	{
		display:none;
	}
	.header
	{
		display:none;
	}
}



